# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

mandelbrot/build/mandelbrot_sse_avx.exe
mandelbrot/build/mandelbrot_sse_avx.o
overlay/build/overlay.o
overlay/build/overlay.exe
mandelbrot/build/mandelbrot_sse_avx.exe.log
mandelbrot/build/mandelbrot_sse_avx.exe.log.dmp
overlay/build/overlay.exe.log.dmp
overlay/build/overlay.exe.log
.vscode/settings.json
.vscode
